# === REGRAS DE REWRITE ===
# Protege diretório public
RewriteEngine on
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ public/$1 [L]

# Router do aplicativo (deve vir por último)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule !\.(js|gif|jpg|jpeg|heic|png|css|txt|JPG|JPEG|HEIC|xml)$ public/index.php [L]
